<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How It Works</h2>
                <hr class="primary">
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <h3>Top-of-the-funnel automated outreach campaigns.</h3>
                <p>
                  ScaleRep works with your team to find the best sources of lead generation. We then use automated email, social media, and LinkedIn campaigns to reach out to prospective clients.
                </p>
                <h3 class="topSpace">Individualized Follow-up</h3>
                <p>
                   Based on actions taken by leads, ScaleRep follows up with them in the most optimal way.
                </p>

                <h3 class="topSpace">Qualification Process</h3>
                <p>We make sure leads meet your criteria of a qualified lead. We'll hop on a phone call to make sure they're serious before setting up time to meet with your account executives.</p>

            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <br>
                <a href="#contact" class="btn btn-primary btn-xl">Get Started Today!</a>
            </div>
        </div>
    </div>
</section>
