

<section id="about">
  <div class="bg_primary">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">What's The Magic?</h2>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-magic wow bounceIn text-secondary" data-wow-delay=".1s"></i>
                  <a type="button" class="text-secondary" data-toggle="modal" data-target="#automatedTechModal">
                    <h3>Automated Technology</h3>
                  </a>
                  <p class="text-muted">Automated workflows provide authentic, scalable interactions</p>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-line-chart wow bounceIn text-secondary" data-wow-delay=".2s"></i>
                  <a type="button" class="text-secondary" data-toggle="modal" data-target="#dataModal">
                    <h3>Data Driven</h3>
                  </a>
                  <p class="text-muted">Constantly improve engagement efforts based on metrics</p>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-users wow bounceIn text-secondary"></i>
                  <a type="button" class="text-secondary" data-toggle="modal" data-target="#qualifiedAgentsModal">
                    <h3>Qualified Agents</h3>
                  </a>
                  <p class="text-muted">Our agents provide the human element in client engagement</p>
              </div>
          </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-signal wow bounceIn text-secondary" data-wow-delay=".3s"></i>
                    <a type="button" class="text-secondary" data-toggle="modal" data-target="#efficientResultsModal">
                      <h3>Efficient Results</h3>
                    </a>
                    <p class="text-muted">We're all about ROI - get detailed metrics to track performance</p>
                </div>
            </div>
        </div>
    </div>
</section>
