<section class="bg-dark" id="about">
    <div class="call-to-action" id="about">

                <h3>
                  A trustworthy and transparent sales experience, backed by technology and dedicated sales reps.<br>
                  <br>That's more opportunities and more time selling.
                </h3>
                <hr class="primary">


    </div>
</section>
