
<header>

    <div class="header-content">
        <h1>Find Your Target Market</h1>
        <div class="header-content-inner">
          <hr>
          <p>Get companies and contacts that match your criteria</p>
        </div>

        <div class="header-text-space">
          <%= link_to('Sign Up', new_user_registration_path, { :class => "btn btn-primary btn-xl page-scroll" } ) %>
        </div>
        
    </div>

</header>
