
<header>

    <div class="header-content">
        <h1>Get Leads<br>Everyday</h1>
        <div class="header-content-inner">
          <hr>
          <p>Pull job postings into spreadsheets quickly!</p>
        </div>
        <div class="header-text-space">
          <a href="#contact" class="btn btn-primary btn-xl page-scroll">REQUEST DEMO</a>
        </div>
    </div>

    <div class="header-image">
      <%= image_tag "computer_screen_example.png", class: "img-computerscreen", alt: "" %>
    </div>

</header>
