
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h1>How it works:</h2>
            <p>Input leads. Let ScaleRep work its magic.<br/>
              It's that simple.
            </p>
          </div>

          <hr class="primary">
      </div>

      <!--<div class="steps">
        <div class="step_space source_data"><p style="font-size:21px;">Input which leads you'd like to engage</p></div>
        <div class="step_space send_campaigns"><p style="font-size:21px;">We'll engage folks through multiple mediums</p></div>
        <div class="step_space response_mgmt"><p style="font-size:21px;">Reps respond to inquiries and re-engage leads</p></div>
        <div class="step_space qualify_mtg"><p style="font-size:21px;">ScaleRep helps qualify leads and schedule your sales meetings</p></div>
      </div>-->

      <div class = "image_section">
        <%= image_tag "how_it_works.png", class: "img-howitworks", alt: "" %>
      </div>
    </div>
  </div>
</section>
