<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome To Your Portal!</h1>
            <hr>


            <a href="#contact" class="btn btn-primary btn-xl page-scroll">VIEW OPTIONS</a>
        </div>
    </div>

</header>