<center>
  <p class="container text-danger"><%= flash[:error] %></p>
  <p class="container text-success"><%= flash[:notice] %></p>
</center>

<div id="title" class="jumbotron">
  <br/>
  <h1>Welcome Home, <%= @user.first_name if @user.first_name %></h1>


  <br>
  <p> Download job postings, company directories, and contacts from those companies!</p>
  <br>
  <br>

  
  <i class="fa fa-envelope-o homebutton"></i>
  <i class="fa fa-building-o homebutton"></i>
</div>

