<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">
	<hr width="90%">
	<br>
    <!--Footer Links-->
    <div class="container container-fluid text-center">
        		© Updated <%= Time.now.strftime("%m/%d/%Y") %> &nbsp; &nbsp;<br>All rights reserved
    </div>

    <br><br>

</footer>
<!--/.Footer-->
